@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Poppins:wght@300&family=Rubik:wght@400;500&family=Ysabeau+Office:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Archivo:wght@300&family=Hind&family=Montserrat&family=Poppins:wght@300&family=Rubik:wght@400;500&family=Ysabeau+Office:wght@600&display=swap');

.directions, .intro-container{
    /* font-family: Archivo, sans-serif; */
    width: 370px;
    height: 480px;
}

.list{
    margin-top: 24px;
}

.directions{
    margin-top: 22px;
}


