@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Poppins:wght@300&family=Rubik:wght@400;500&family=Ysabeau+Office:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Lato&family=Montserrat&family=Poppins:wght@300&family=Rubik:wght@400;500&family=Ysabeau+Office:wght@600&display=swap');
.fade-in {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
  }
  
  .fade-out {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }

#form{
  width: 370px;
}

#prompt-input{
  animation: rainbowGlowingBorder 5s linear infinite;
  border: 3px solid;
  margin-top: 10px;
}

.input{
  font-family: Agbalumo, sans-serif;
}

button{
  margin-bottom: 5px;
}








@keyframes rainbowGlowingBorder {
  0% { border-color: #ff0000; }
  14% { border-color: #ff7f00; }
  28% { border-color: #ffff00; }
  42% { border-color: #00ff00; }
  57% { border-color: #0000ff; }
  71% { border-color: #8b00ff; }
  85% { border-color: #ff00ff; }
  100% { border-color: #ff0000; }
}